---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Amedeus">
  <main
    class="flex flex-col items-center justify-center bg-[#f2f2f2] container"
  >
    <section class="">
      <div class="">
        <img
          src="/images/amedeus.jpg"
          alt="profile"
          class="object-cover w-full h-full"
        />
      </div>

      <div class="flex bg-[#20B3FF] w-screen px-5 rounded-sm py-3">
        <h3 class="text-xl font-light">Contacts</h3>
        <div class="flex items-center justify-between translate-x-[2rem] gap-5">
          <a href="tel:+255753999959">
            <div class="w-[30px] h-[30px]">
              <img src="/phone.png" class="object-cover" />
            </div>
          </a>

          <a href="https://wa.me/+255753999959">
            <div class="w-[35px] h-[35px]">
              <img src="/whatsapp.png" class="object-cover" />
            </div>
          </a>
          <a href="mailto:amedeusplumbing@gmail.com ">
            <div class="w-[30px] h-[30px]">
              <img src="/gmail.png" class="object-cover" />
            </div>
          </a>
        </div>
      </div>

      <a class="flex justify-center" href="/vcards/amedeus.vcf" download>
        <button
          class="px-3 py-2 rounded-md cursor-pointer bg-[#20B3FF] shadow-md mt-5"
          >Save Contacts</button
        >
      </a>
    </section>

    <!-- Products section -->
    <section>
      <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">
        our Products
      </h3>
      <div class="grid grid-cols-3 gap-5 mt-5">
        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20Ceramic%20Toilet"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhVm4Rq97fuGw_SyTZMOVy0lJfnJsteiRNdQ&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Toilet</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Ceramic%20Basin"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgHIaR_v5DJknmkcPbgYflpsn9VjmRHlTrMQ&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Ceramic Basin</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20Asian%20Toilet"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiVhWBC6sQObu3PO5vgXRE972o0Dw7OL8NTw&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Asian Toilet</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20PVC%20Pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://www.shutterstock.com/image-photo/upvc-pipe-stock-260nw-763920856.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">PVC Pipes</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20PVC%20fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://d33wubrfki0l68.cloudfront.net/5fe591bb330c9d2b4387a5e07be0f4ac14bf117e/679a8/assets/images/products/pvcpressurefittings.webp"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">pvc fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20HDPE%20Pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2g7BiFi49DAHbrLAl4VxO3DfcYN2gHM8KHw&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">HDPE pipe</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20HDPE%20Fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlbLCXe4oJ-oHWvLw6y_iJCXUSdX1S_p2vmQ&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">HDPE fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20Copper%20Pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgS3OT13O-rcUYf2x9AVfHZsxodwcRjofr6Q&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Copper Pipe</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20%20Copper%20Fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxmXvF32SeWruMAAOD8hHlu3Pazancy24w0g&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Copper Fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20ppr%20pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://www.ifanplumbing.com/uploads/202132114/ppr-green-pipe33563721384.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[9px]">ppr pipes</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20Ppr%20fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIIt0WniP87-OkTtzuTgep6Q1dhsmIUT9V_-qWwNxW6aVcKeeJ6pGa_FszmyOSWnaSgIo&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Ppr fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255753999959&text=Hello%20Mr%20Amedeus%2C%20Nahitaji%20Gate%20Valves"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://www.plumbex.co.uk/wp-content/uploads/2019/06/PEX-605BS-12.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Gate Valves</h3>
          </div>
        </a>
      </div>
    </section>

    <!-- Footer -->

    <section
      class="bg-[#20B3FF] py-3 mt-[3rem] w-full flex items-center gap-3 pl-5"
    >
      <div class="w-full text-center flex flex-col items-center justify-center">
        <h3>Tupo Rwagasore street.</h3>
        <p>Mwanza, Tanzania</p>
      </div>
    </section>

    <footer class="flex justify-between">
      <div class="w-[300px]"></div>

      <img src="/logo.png" alt="logo" class="w-[150px]" width="120" />
    </footer>
  </main>
</Layout>
