---
import Layout from '../../layouts/Layout.astro';
---
<!-- bg-[url('/images/darkGreen.png')] -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<meta name="generator" content={Astro.generator} />
		<title>Alvin Munisi</title>
	</head>
	<body class="font-sans" >	
        <main class="flex flex-col items-center justify-center text-white  container  object-cover bg-gradient-to-b from-[#161313] via-[#0f4631] to-[#161313]">
           <section class="mt-5 flex flex-col items-center ">
               <div>
                   <img src="/images/alvin_logo.png" alt="logo" class="w-[150px]" />
               </div>

               <div class="text-center">


                   <h3 class=" text-3xl font-medium tracking-wide">Some Company</h3>
                   <article class="mt-2 text-xl">Hapa inakaa company description na ni fupi pia.</article>
               </div>


               <div class="flex items-center justify-center mt-5">
                <button class="px-4 py-2 rounded-sm border-[1px] border-white text-white font-medium shadow-md">Save Contacts</button>
                <!-- <button>Contacts</button> -->
               </div>

                <div class="bg-[#E4E2D9] rounded-full w-[150px] h-[150px] mt-5">
        
               <img class="w-[150px] h-[150px] rounded-full object-cover" src="/gilbert.png" alt="Rounded avatar"/>
           </div>

                <div>
                       <h3 class="text-xl tracking-wide font-medium uppercase mt-2">Jina lako</h3>
                       <p class="uppercase text-center text-sm">Manager</p>
                   </div>
        
              
           </section>


           <section class="mt-[3rem] ">
            <h3 class="text-2xl pl-[3rem]">Our Services</h3>
            <div class="w-[450px] h-[350px] border-[3px] border-[#00754B] -translate-x-[3rem] relative mt-2">
                <div class=" h-[300px] trasnlate-x-[3rem] absolute top-0 right-0 w-[350px]">
                    <ul class="list-disc space-y-5 pl-5 mt-5">
                          <li>Our platform simplifies the process of managing and responding to customer inquiries and concerns .</li>
                            <li>Our platform simplifies the process of managing and responding to customer inquiries and concerns .</li>
                        
                        <li>Our platform simplifies the process of managing and responding to customer inquiries and concerns .</li>
                    </ul>

                </div>

            </div>
           </section>
       
           <section>
               <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">Welcome to our Offices</h3>
              
           </section>
        
           <!-- Footer -->
        
           
        
           <footer class="flex justify-between mt-5">
               <div class="w-[300px]"></div>
               
               <img src="/images/frika_black.png" alt="logo" class="w-[150px] " width="150" />
           </footer>
        </main>
	</body>
</html>
