---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Chief">
  <img
    src="/images/chief/home.jpg"
    alt="profile"
    class="object-cover w-full h-full"
  />
  <section class="">
    <div class="flex bg-white rounded-sm py-3 shadow-lg pl-5 w-full px-5">
      <a href="/vcards/chief.vcf" download>
        <h3 class="font-light text-white bg-[#092958] px-4 py-2 rounded-md">
          Save Contact
        </h3>
      </a>
      <div class="flex items-center justify-between w-[150px] ml-[2rem] gap-5">
        <a href="tel:+255736581614">
          <div class="w-[30px] h-[30px]">
            <img src="/phone.png" class="object-cover" />
          </div>
        </a>

        <a
          href="https://instagram.com/chief_phone_accessories?igshid=YmMyMTA2M2Y="
        >
          <div class="w-[30px] h-[30px]">
            <img src="/ig.png" class="object-cover" />
          </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+255736581614">
          <div class="w-[35px] h-[35px]">
            <img src="/whatsapp.png" class="object-cover" />
          </div>
        </a>
        <a href="">
          <div class="w-[30px] h-[30px]">
            <img src="/gmail.png" class="object-cover" />
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="flex items-center justify-center flex-col gap-5">
    <div>
      <img
        class="w-[300px] h-[400px] object-cover rounded-md"
        src="/images/chief/5.png"
        loading="lazy"
        alt="product"
      />
      <h3 class="font-medium text-3xl">All Phone Types</h3>
      <p class="mt-2">iPhone, Samsung and Androids</p>
      <button
        class="px-4 py-2 rounded-md cursor-pointer text-white bg-green-500 flex items-center gap-2 text-xl mt-3"
      >
        <span>
          <img src="/whatsapp.png" alt="logo" class="w-[30px] h-[30px]" />
        </span>
        Get Quote</button
      >
    </div>
    <div>
      <img
        class="w-[300px] h-[400px] object-cover rounded-md"
        src="/images/chief/6.png"
        loading="lazy"
        alt="product"
      />
      <h3 class="font-medium text-3xl">All Phone Covers</h3>
      <p class="mt-2">iPhone, Samsung and Androids</p>
      <button
        class="px-4 py-2 rounded-md cursor-pointer text-white bg-green-500 flex items-center gap-2 text-xl mt-3"
      >
        <span>
          <img src="/whatsapp.png" alt="logo" class="w-[30px] h-[30px]" />
        </span>
        Get Quote</button
      >
    </div>
    <div>
      <img
        class="w-[300px] h-[400px] object-cover rounded-md"
        src="/images/chief/8.png"
        loading="lazy"
        alt="product"
      />
      <h3 class="font-medium text-3xl">Headsets</h3>
      <p class="mt-2">JBL, Sony, Apple Headset</p>
      <button
        class="px-4 py-2 rounded-md cursor-pointer text-white bg-green-500 flex items-center gap-2 text-xl mt-3"
      >
        <span>
          <img src="/whatsapp.png" alt="logo" class="w-[30px] h-[30px]" />
        </span>
        Get Quote</button
      >
    </div>
    <div>
      <img
        class="w-[300px] h-[400px] object-cover rounded-md"
        src="/images/chief/7.png"
        loading="lazy"
        alt="product"
      />
      <h3 class="font-medium text-3xl">Smart Watches</h3>
      <p class="mt-2">Apple Watch, Xiami, Samsung</p>
      <button
        class="px-4 py-2 rounded-md cursor-pointer text-white bg-green-500 flex items-center gap-2 text-xl mt-3"
      >
        <span>
          <img src="/whatsapp.png" alt="logo" class="w-[30px] h-[30px]" />
        </span>
        Get Quote</button
      >
    </div>
    <div>
      <img
        class="w-[300px] h-[400px] object-cover rounded-md"
        src="/images/chief/10.png"
        loading="lazy"
        alt="product"
      />
      <h3 class="font-medium text-3xl">Speakers</h3>
      <p class="mt-2">JBL, Sony, Apple Headset</p>
      <button
        class="px-4 py-2 rounded-md cursor-pointer text-white bg-green-500 flex items-center gap-2 text-xl mt-3"
      >
        <span>
          <img src="/whatsapp.png" alt="logo" class="w-[30px] h-[30px]" />
        </span>
        Get Quote</button
      >
    </div>
  </section>

  <footer class="flex justify-between mt-[4rem]">
    <div class="w-[300px]"></div>

    <img src="/logo.png" alt="logo" class="w-[150px]" width="150" />
  </footer>
</Layout>
