---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Chief">
  <section class="">
    <div class="flex bg-white rounded-sm py-3 shadow-lg pl-5 w-full px-5">
      <a href="/vcards/Robert.vcf" download>
        <h3 class="font-light text-white bg-[#092958] px-4 py-2 rounded-md">
          Save Contact
        </h3>
      </a>
      <div class="flex items-center justify-between w-[150px] ml-[2rem] gap-5">
        <a href="tel:+255765314004">
          <div class="w-[30px] h-[30px]">
            <img src="/phone.png" class="object-cover" />
          </div>
        </a>

        <a href="https://instagram.com/robertpmanyanyiho?igshid=YmMyMTA2M2Y=">
          <div class="w-[30px] h-[30px]">
            <img src="/ig.png" class="object-cover" />
          </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+255765314004">
          <div class="w-[35px] h-[35px]">
            <img src="/whatsapp.png" class="object-cover" />
          </div>
        </a>
        <a href="mailto:Robertmanyanyiho@yahoo.com">
          <div class="w-[30px] h-[30px]">
            <img src="/gmail.png" class="object-cover" />
          </div>
        </a>
      </div>
    </div>
  </section>
</Layout>
