---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Chief">
  <img
    src="/images/chief/home.jpg"
    alt="profile"
    class="object-cover w-full h-full"
  />
  <section class="">
    <div class="flex bg-white rounded-sm py-3 shadow-lg pl-5 w-full px-5">
      <a href="/vcards/chief.vcf" download>
        <h3 class="font-light text-white bg-[#C5242A] px-4 py-2 rounded-md">
          Save Contact
        </h3>
      </a>
      <div class="flex items-center justify-between w-[150px] ml-[2rem] gap-5">
        <a href="tel:+255736581614">
          <div class="w-[30px] h-[30px]">
            <img src="/phone.png" class="object-cover" />
          </div>
        </a>

        <a
          href="https://instagram.com/chief_phone_accessories?igshid=YmMyMTA2M2Y="
        >
          <div class="w-[30px] h-[30px]">
            <img src="/ig.png" class="object-cover" />
          </div>
        </a>
        <a href="https://api.whatsapp.com/send?phone=+255736581614">
          <div class="w-[35px] h-[35px]">
            <img src="/whatsapp.png" class="object-cover" />
          </div>
        </a>
        <a href="">
          <div class="w-[30px] h-[30px]">
            <img src="/gmail.png" class="object-cover" />
          </div>
        </a>
      </div>
    </div>
  </section>
  <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">
    our Products
  </h3>

  <section class="flex items-center justify-center">
    <div class="grid grid-cols-3 gap-5 mt-5">
      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20Simu"
      >
        <div
          class="w-[100px] h-[130px] bg-[#C5242A] text-white font-medium p-3 rounded-md"
        >
          <img
            src="/images/chief/5.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Phones</h3>
        </div>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20Covers"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/6.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Covers</h3>
        </div>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20Headsets"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/8.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">HeadSets</h3>
        </div>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20smartwatch"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/7.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Smart Watch</h3>
        </div>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20Speakers"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/10.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Speakers</h3>
        </div>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20airpods"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/9.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Airpods</h3>
        </div>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20powerbank"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/11.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Power Bank</h3>
        </div>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20chargers"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/13.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Chargers</h3>
        </div>
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+255736581614&text=Habari%20%2C%20Nahitaji%20tripods"
      >
        <div
          class="w-[100px] h-[130px] p-3 rounded-md bg-[#C5242A] text-white font-medium"
        >
          <img
            src="/images/chief/14.png"
            alt="Product"
            class="object-cover rounded-md h-[90px] w-[80px]"
            width="200"
          />
          <h3 class="text-center mt-1 text-xs">Tripod</h3>
        </div>
      </a>
    </div>
  </section>

  <footer class="flex justify-between mt-[4rem]">
    <div class="w-[300px]"></div>

    <img src="/logo.png" alt="logo" class="w-[150px]" width="150" />
  </footer>
</Layout>
