---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Gilbert Joseph">

    <main class="flex flex-col items-center justify-center bg-[#E4E2D9] container">
        <section class="mt-5 ">
            <div class="uppercase text-gray-800 font-medium mt-5 pl-5">
                <h3 class="font-medium text-3xl tracking-wider ">chief</h3>
                <p>phone and accessories</p>
            </div>
            <div class="flex items-center justify-center mt-5 ">

                <div class="flex items-center gap-5 translate-x-[3rem]">
                    <div>
                    <h3 class="text-2xl tracking-wide font-medium">Gilbert Mosha</h3>
                    <p class="uppercase">Sales man</p>
                </div>
                </div>
    
                    <div class="">
                        <img src="/gilbert.png" alt="profile" class="object-cover w-[217px] h-[209px]"/>
                    </div>
            </div>
            


            <div class="flex items-center justify-between bg-white w-screen px-5 rounded-xl py-3">
                <h3 class="text-xl font-light">Contacts</h3>

                <div class="w-[30px] h-[30px]">
                 <img src="/ig.png" class="object-cover"/>
                </div>
                <a href="https://wa.me/+255715534997">
                 <div class="w-[35px] h-[35px]">
                 <img src="/whatsapp.png" class="object-cover"/>
                </div>
                </a>
                <div class="w-[30px] h-[30px]">
                 <img src="/gmail.png" class="object-cover"/>
                </div>
            </div>

            <a class="flex  justify-center" href="/vcards/gilbert.vcf" download>

                <button class="px-3 py-2 rounded-md cursor-pointer  bg-pink-300 mt-4">Save Contacts</button>
            </a>
        </section>

        <!-- Products section -->
        <section>
            <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">our Products</h3>
            <div class="grid grid-cols-3 gap-5 mt-5">
                
                <div class="w-[100px] h-[160px] bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1509395286499-2d94a9e0c814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80.jpg" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1 ">Iphones</h3>
                </div>
                <div class="w-[100px] h-[160px] bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem] ">
                    <img src="https://images.unsplash.com/photo-1672906674626-f58e6885f632?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvbmUlMjBjb3ZlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1 ">Phone Covers</h3>
                </div>
                <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1609081219090-a6d81d3085bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FkZ2V0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1 ">Gadgets</h3>
                </div>
                <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1508685096489-7aacd43bd3b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1 ">Smart Watch</h3>
                </div>
                 <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1618366712010-f4ae9c647dcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGVhZHNldHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]"/>
                    <h3 class="text-center mt-1 ">Headsets</h3>
                </div>
                 <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1572569511254-d8f925fe2cbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWlycG9kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1 ">Airpods</h3>
                </div>
                <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1612241143917-d05c85c43751?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c3BlYWtlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1">Speakers</h3>
                </div>
                <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1461141346587-763ab02bced9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFwcGxlJTIwd2F0Y2hlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1 ">Apple Watches</h3>
                </div>
                <div class="w-[100px] h-[160px]  bg-white p-3 rounded-tr-[1.4rem] rounded-bl-[1.4rem]">
                    <img src="https://images.unsplash.com/photo-1609091839311-d5365f9ff1c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fHBvd2VyJTIwYmFua3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Product" class="object-cover rounded-md   h-[90px] w-[80px]" width="200"/>
                    <h3 class="text-center mt-1">Power Banks</h3>
                </div>

               
            </div>
        </section>

        <!-- Footer -->

        <section class="bg-white py-3 mt-[3rem] w-full flex  items-center gap-3 pl-5">

            
               

                
  <div class="bg-[#E4E2D9] rounded-full">

      <img class="w-[120px] h-[120px] rounded-full" src="/gilbert.png" alt="Rounded avatar"/>
  </div>


                <div class="w-[250px]">
                    <h3>Tupo RockCity Mall, 1st Floor, Mwanza Tanzania</h3>
                    <p class="italic tracking-wide mt-3">Karibu Tukuhudumie</p>
                </div>
           

        </section>
    </main>
</Layout>