---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Gilbert Joseph">

    <main class="flex flex-col items-center justify-center bg-[#E4E2D9] container">
        <section class="mt-5 ">
            <div class="uppercase text-gray-800 font-medium mt-5 pl-5">
                <h3 class="font-medium text-3xl tracking-wider ">chief</h3>
                <p>phone and accessories</p>
            </div>
            <div class="flex items-center justify-center mt-5 ">

                <div class="flex items-center gap-5 translate-x-[3rem]">
                    <div>
                    <h3 class="text-2xl tracking-wide font-medium">Gilbert Mosha</h3>
                    <p class="uppercase">Sales man</p>
                </div>
                </div>
    
                    <div class="">
                        <img src="/gilbert.png" alt="profile" class="object-cover w-[217px] h-[209px]"/>
                    </div>
            </div>
            


            <div class="flex items-center justify-between bg-white w-screen px-5 rounded-xl py-3">
                <h3 class="text-xl font-light">Contacts</h3>

                <div class="w-[30px] h-[30px]">
                 <img src="/ig.png" class="object-cover"/>
                </div>
                <a href="https://wa.me/+255715534997">
                 <div class="w-[35px] h-[35px]">
                 <img src="/whatsapp.png" class="object-cover"/>
                </div>
                </a>
                <div class="w-[30px] h-[30px]">
                 <img src="/gmail.png" class="object-cover"/>
                </div>
            </div>
        </section>

        <!-- Products section -->
        <section>
            <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">our Products</h3>
            <div class="grid grid-cols-1 space-y-5 mt-5">
                
                <div class="w-[180px] h-[220px] bg-white p-3 rounded-tr-3xl rounded-bl-[2rem]">
                    <img src="https://images.unsplash.com/photo-1509395286499-2d94a9e0c814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80.jpg" alt="Product" class="object-contain rounded-md" width="200"/>
                    <h3 class="text-center mt-3 text-lg tracking-wide">Iphones</h3>
                </div>
                <div class="w-[180px] h-[220px] bg-white p-3 rounded-tr-3xl rounded-bl-[2rem] ">
                    <img src="https://images.unsplash.com/photo-1509395286499-2d94a9e0c814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80.jpg" alt="Product" class="object-contain rounded-md" width="200"/>
                    <h3 class="text-center mt-3 text-lg tracking-wide">Phone Covers</h3>
                </div>
                <div class="w-[180px] h-[220px]  bg-white p-3 rounded-tr-3xl rounded-bl-[2rem]">
                    <img src="https://images.unsplash.com/photo-1509395286499-2d94a9e0c814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80.jpg" alt="Product" class="object-contain rounded-md" width="200"/>
                    <h3 class="text-center mt-3 text-lg tracking-wide">Gadgets</h3>
                </div>
                <div class="w-[180px] h-[220px]  bg-white p-3 rounded-tr-3xl rounded-bl-[2rem]">
                    <img src="https://images.unsplash.com/photo-1509395286499-2d94a9e0c814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80.jpg" alt="Product" class="object-contain rounded-md" width="200"/>
                    <h3 class="text-center mt-3 text-lg tracking-wide">Headsets</h3>
                </div>
               
            </div>
        </section>

        <!-- Footer -->

        <section class="bg-white py-3 mt-[3rem] w-full flex  items-center gap-3 pl-5">

            
               

                
  <div class="bg-[#E4E2D9] rounded-full">

      <img class="w-[120px] h-[120px] rounded-full" src="/gilbert.png" alt="Rounded avatar"/>
  </div>


                <div class="w-[250px]">
                    <h3>Tupo RockCity Mall, 1st Floor, Mwanza Tanzania</h3>
                    <p class="italic tracking-wide mt-3">Karibu Tukuhudumie</p>
                </div>
           

        </section>
    </main>
</Layout>