---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Jesca Marcely">
  <main
    class="flex flex-col items-center justify-center bg-[#E4E2D9] container"
  >
    <section class="mt-5">
      <div>
        <img src="/images/mashmata-logo.png" alt="logo" class="w-[150px]" />
      </div>
      <div class="flex items-center justify-center mt-5">
        <div class="flex items-center gap-5 translate-x-[2rem]">
          <div class="">
            <h3
              class="text-[1.3rem] tracking-wide font-medium uppercase w-[200px]"
            >
              Jesca Marcely
            </h3>
            <p class="uppercase text-sm">marketing manager</p>
          </div>
        </div>

        <div class="relative">
          <img
            src="/images/jesca.png"
            alt="profile"
            class="object-cover w-[317px] h-[209px]"
          />
        </div>
      </div>

      <div class="flex bg-[#4e6ba3] px-5 rounded-sm py-3 shadow-lg">
        <h3 class="text-xl font-light translate-x-[18px] text-white">
          Contacts
        </h3>
        <div
          class="flex items-center justify-between translate-x-[4.5rem] gap-5"
        >
          <a href="tel:+255764549335">
            <div class="w-[30px] h-[30px]">
              <img src="/phone.png" class="object-cover" />
            </div>
          </a>

          <a
            href="https://instagram.com/officialjessique_tz?igshid=NTdlMDg3MTY="
          >
            <div class="w-[30px] h-[30px]">
              <img src="/ig.png" class="object-cover" />
            </div>
          </a>
          <a href="https://wa.me/+255764549335">
            <div class="w-[35px] h-[35px]">
              <img src="/whatsapp.png" class="object-cover" />
            </div>
          </a>
          <a href="#">
            <div class="w-[30px] h-[30px]">
              <img src="/gmail.png" class="object-cover" />
            </div>
          </a>
        </div>
      </div>

      <a class="flex justify-center" href="/vcards/jesca.vcf" download>
        <button
          class="px-3 py-2 rounded-md cursor-pointer bg-[#4e6ba3] shadow-xl mt-5 text-white"
          >Save Contacts</button
        >
      </a>
    </section>

    <!-- Products section -->
    <section>
      <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">
        our Services
      </h3>
      <div class="flex items-center flex-col mt-5 space-y-5">
        <a
          href="https://api.whatsapp.com/send?phone=+255764549335&text=Hello%20Mr%20Benjamin%2C%20lets%20talk%20about%20Tax%20consultant"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://customs.tra.go.tz/images/bidder/logoBidder.png;jsessionid=2FC6B8884F9CEBCD60A08A3ED2C6B4E7.instance2"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px] aspect-square"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Tax Consultant
              </h3>
            </div>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255764549335&text=Hello%20Mr%20Benjamin%2C%20lets%20talk%20about%20General%20Supplies"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg50qyv642M6cMxIzEA4NHiHS5v82trqtJpg&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px] aspect-square"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                General Supplies
              </h3>
            </div>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255764549335&text=Hello%20Mr%20Benjamin%2C%20lets%20talk%20about%20Clearing/%20Forwarding"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://gapplogistics-tz.com/wp-content/uploads/2019/03/4-1.jpg"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px]"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Clearing and Forwading
              </h3>
            </div>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255764549335&text=Hello%20Mr%20Benjamin%2C%20lets%20talk%20about%20Car%20Hire"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK71z-ZBcvW4KX_GJWyNKZCGYG9UHs5MLL-g&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px]"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Car Rental
              </h3>
            </div>
          </div>
        </a>
      </div>
    </section>

    <!-- Footer -->

    <section
      class="bg-[#4e6ba3] py-3 mt-[3rem] w-full flex items-center gap-3 pl-5"
    >
      <div class="bg-[#E4E2D9] rounded-full overflow-hidden">
        <img
          class="w-[90px] h-[90px] rounded-full object-cover translate-y-[1rem]"
          src="/images/jesca.png"
          alt="Rounded avatar"
        />
      </div>

      <div class="w-[250px] text-white">
        <h3>Rockcity Mall, 2nd Floor</h3>
        <p class="">Mwanza, Tanzania</p>
      </div>
    </section>

    <footer class="flex justify-between">
      <div class="w-[300px]"></div>

      <img src="/logo.png" alt="logo" class="w-[150px]" width="150" />
    </footer>
  </main>
</Layout>
