---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Jumaa Aweso">
  <nav class="flex items-center justify-between py-4">
    <img
      src="/images/courtOfArms.png"
      alt="court of arms"
      class="w-[70px] aspect-square"
    />
    <h3 class="uppercase text-[#edcd1c] text-sm font-medium">
      tanzania ministry of water
    </h3>
    <img
      src="/images/courtOfArms.png"
      alt="court of arms"
      class="w-[70px] aspect-square"
    />
  </nav>
  <main
    class="flex flex-col items-center justify-center bg-[#E4E2D9] container"
  >
    <section class="mt-5">
      <div class="flex items-center justify-center mt-[2.5rem]">
        <div class="relative">
          <img
            src="/images/jesca.png"
            alt="profile"
            class="object-cover w-[317px] h-full"
          />
        </div>
      </div>

      <div class="flex bg-[#092958] px-5 rounded-sm py-3 shadow-lg w-screen">
        <h3 class="text-lg font-light translate-x-[18px] text-white">
          Save Contact
        </h3>
        <div
          class="flex items-center justify-between translate-x-[4.5rem] gap-5"
        >
          <a href="tel:+255764549335">
            <div class="w-[30px] h-[30px]">
              <img src="/phone.png" class="object-cover" />
            </div>
          </a>

          <a
            href="https://instagram.com/officialjessique_tz?igshid=NTdlMDg3MTY="
          >
            <div class="w-[30px] h-[30px]">
              <img src="/ig.png" class="object-cover" />
            </div>
          </a>
          <a href="https://wa.me/+255764549335">
            <div class="w-[35px] h-[35px]">
              <img src="/whatsapp.png" class="object-cover" />
            </div>
          </a>
          <a href="#">
            <div class="w-[30px] h-[30px]">
              <img src="/gmail.png" class="object-cover" />
            </div>
          </a>
        </div>
      </div>

      <h3
        class="py-4 cursor-pointer bg-[#092958] shadow-xl mt-5 text-white text-center uppercase tracking-wide"
      >
        biography
      </h3>
    </section>

    <section
      class="mt-[2rem] flex flex-col items-center justify-center px-3 text-[#092958] space-y-5"
    >
      <article>
        Juma Hamidu Aweso is a prominent political leader in Tanzania, currently
        serving as the Minister of Water and Irrigation in the sixth phase
        government under the leadership of President Samia. He was born on March
        22, 1985, in Pangani, Tanga Region, Aweso pursued his education at
        various institutions, including Mwambao Primary School, Bagamoyo
        Secondary School, and Pugu Secondary School, where he obtained a
        teaching diploma.
      </article>
      <article>
        He later obtained a Bachelor of Science in Chemistry from the University
        of Dar es Salaam in 2013 and a second degree in Governance and
        Leadership from the Open University of Tanzania in 2020.
      </article>
      <article>
        Aweso's political career began immediately after college, when he joined
        the Chama cha Mapinduzi (CCM) party and was nominated to run for
        Parliament in 2015, winning the election. He subsequently served as
        Deputy Minister of Water and Irrigation in the fifth phase government
        under Minister Makame Mbarawa before being appointed Minister of Water
        and Irrigation in December 2020. Widely recognized for his outstanding
        performance, Aweso has been given the title of External Combatant by his
        fellow Members of Parliament for his exceptional work in the ministry.
      </article>
    </section>

    <!-- Footer -->

    <footer class="flex justify-between">
      <div class="w-[300px]"></div>

      <img src="/logo.png" alt="logo" class="w-[150px]" width="150" />
    </footer>
  </main>
</Layout>
