---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kakengi Ian">
  <main
    class="flex flex-col items-center justify-center bg-[#f2f2f2] container"
  >
    <section class="mt-5">
      <div>
        <img src="/images/kakengi_logo.png" alt="logo" class="w-[150px] pl-5" />
      </div>
      <div class="flex items-center justify-between mt-[3rem]">
        <div class="flex items-center gap-5 translate-x-[3rem]">
          <div>
            <h3 class="text-xl tracking-wide font-medium uppercase">
              Kakengi Ian
            </h3>
            <p class="uppercase text-sm">mkurugenzi</p>
          </div>
        </div>

        <div class="">
          <img
            src="/images/kakengi.png"
            alt="profile"
            class="object-cover w-[217px] h-[209px]"
          />
        </div>
      </div>

      <div class="flex bg-[#EE6222] w-screen px-5 rounded-xl py-3">
        <h3 class="text-xl font-light translate-x-[28px]">Contacts</h3>
        <div
          class="flex items-center justify-between translate-x-[4.5rem] gap-5"
        >
          <a href="tel:+255759100203">
            <div class="w-[30px] h-[30px]">
              <img src="/phone.png" class="object-cover" />
            </div>
          </a>
          <a href="https://instagram.com/kakengi_industry_?igshid=NTdlMDg3MTY=">
            <div class="w-[30px] h-[30px]">
              <img src="/ig.png" class="object-cover" />
            </div>
          </a>
          <a href="https://wa.me/+255759100203">
            <div class="w-[35px] h-[35px]">
              <img src="/whatsapp.png" class="object-cover" />
            </div>
          </a>
          <a href="mailto:iankakengi@gmail.com">
            <div class="w-[30px] h-[30px]">
              <img src="/gmail.png" class="object-cover" />
            </div>
          </a>
        </div>
      </div>

      <a class="flex justify-center" href="/vcards/kakengi.vcf" download>
        <button
          class="px-3 py-2 rounded-md cursor-pointer bg-[#EE6222] shadow-md mt-5"
          >Save Contacts</button
        >
      </a>
    </section>

    <!-- Products section -->
    <section>
      <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">
        our Products
      </h3>
      <div class="grid grid-cols-3 gap-5 mt-5">
        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Sluice%20Sink"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://m.media-amazon.com/images/I/61Fc4hAHYqL._AC_SX466_.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Sluice Sink</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Ips%20pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://m.media-amazon.com/images/I/516zJwInbmL._AC_SX466_.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Ips pipes</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Sluice%20Fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://m.media-amazon.com/images/I/51ac7TOq32L._AC_SX466_.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Ips Fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Gate%20Valves"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://m.media-amazon.com/images/I/51eFCSxx67L._SY500_.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Gate Valves</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Gs%20fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://m.media-amazon.com/images/I/61sDutBr7RL._AC_SX466_PIbundle-14,TopRight,0,0_SH20_.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Gs fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20ppr%20pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2CuhTtu9_In5XxxnhVGIZB3olIDAfXdnSvw&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[9px]">ppr pipes</h3>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Ppr%20fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIIt0WniP87-OkTtzuTgep6Q1dhsmIUT9V_-qWwNxW6aVcKeeJ6pGa_FszmyOSWnaSgIo&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Ppr fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20PVS%20pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://m.media-amazon.com/images/I/216NQ+1N0SS._AC_.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">PVs pipes</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Gs%20Pipes"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4vkDn4JhIX4X1Bwm17hUBwp1h7YWezM0Iiw&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-xs">Gs pipes</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20Hdpe%20roller"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://5.imimg.com/data5/NN/KQ/MY-3702991/hdpe-roller-500x500.jpg"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Hdpe roller</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20PVC%20fittings"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://d33wubrfki0l68.cloudfront.net/fd4e7762ad2265e8d69c6a7ab59cb851582f1fea/9cd3f/assets/images/products/pvcfittingsside.webp"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">pvc fittings</h3>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255759100203&text=Hello%20Mr%20Kakengi%2C%20Nahitaji%20sluice%20Valve"
        >
          <div class="w-[100px] h-[130px] bg-white p-3 rounded-md">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFp6xLTfcLuZN4Pi7tX_cCyAiNbfmNOgk7w&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[90px] w-[80px]"
              width="200"
            />
            <h3 class="text-center mt-1 text-[10px]">Sluice Valves</h3>
          </div>
        </a>
      </div>
    </section>

    <!-- Footer -->

    <section
      class="bg-[#EE6222] py-3 mt-[3rem] w-full flex items-center gap-3 pl-5"
    >
      <div class="bg-[#E4E2D9] rounded-full overflow-hidden">
        <img
          class="w-[90px] h-[90px] rounded-full object-cover translate-x-[1rem] translate-y-[0.5rem]"
          src="/images/kakengi.png"
          alt="Rounded avatar"
        />
      </div>

      <div class="w-[250px]">
        <h3>Tupo Rwagasore street.</h3>
        <p>Mwanza, Tanzania</p>
      </div>
    </section>

    <footer class="flex justify-between">
      <div class="w-[300px]"></div>

      <img src="/logo.png" alt="logo" class="w-[150px]" width="120" />
    </footer>
  </main>
</Layout>
