---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Elimino Bina">

    <main class="flex flex-col items-center justify-center bg-[#f6cf9a] container ">
        <section class="mt-5 ">
            <div class="uppercase text-gray-800 font-medium mt-5 pl-5 ">
                <h3 class="font-medium text-3xl tracking-wider ">chief</h3>
                <p class="text-[7px]">phone and accessories</p>
            </div>
            <div class="flex items-center justify-center mt-5 ">

                <div class="flex items-center gap-5 translate-x-[2rem]">
                    <div>
                    <h3 class="text-2xl tracking-wide font-medium uppercase w-[190px]">Elimino Bina</h3>
                    <p class="uppercase  text-lg text-center">c.e.o</p>
                </div>
                </div>
    
                    <div class="relative">
                        <img src="/images/elimino.png" alt="profile" class="object-cover w-[317px] h-[209px] -translate-x-0"/>
                        <!-- <div class="bg-white absolute h-1">
            
                        </div> -->
                    </div>
            </div>
            

            <div class="flex bg-white  px-5 rounded-sm py-3">
                <h3 class="text-xl font-light translate-x-[28px]">Contacts</h3>
                <div class="flex items-center justify-between translate-x-[4.5rem] gap-5">
                    
                    <a href="https://instagram.com/elimino_john_bina?igshid=YmMyMTA2M2Y=">
                    
                        <div class="w-[30px] h-[30px]">
                         <img src="/ig.png" class="object-cover"/>
                        </div>
                    </a>
                    <a href="https://wa.me/+255620414791">
                     <div class="w-[35px] h-[35px]">
                     <img src="/whatsapp.png" class="object-cover"/>
                    </div>
                    </a>
                    
                </div>

            </div>

            <a class="flex  justify-center" href="/vcards/Elimino.vcf" download>

                <button class="px-3 py-2 rounded-md cursor-pointer  bg-white shadow-md mt-5">Save Contacts</button>
            </a>
        </section>

        <!-- Products section -->
        <section>
            <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">our Services</h3>
            <div class="flex items-center flex-col mt-5 space-y-5">

                <a href="https://wa.me/255715534997/?text=Habari%2C+Ninahitaji+iphone">
                
                    <div class="w-[300px] h-[120px] bg-white p-3 rounded-md flex space-x-5 items-center shadow-md">
                        <img src="https://images.unsplash.com/photo-1523848309072-c199db53f137?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Product" class="object-cover rounded-md   h-[100px] w-[120px] aspect-square" width="200"/>
                        <div>

                            <h3 class="text-center mt-1 text-[1rem] ">Mining Activities</h3>
                        </div>
                    </div>
                </a>

                <div class="w-[300px] h-[120px] bg-white p-3 rounded-md flex space-x-5 items-center shadow-md">
                        <img src="https://images.unsplash.com/photo-1610375461246-83df859d849d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Product" class="object-cover rounded-md   h-[100px] w-[120px] aspect-square" width="200"/>
                        <div>

                            <h3 class="text-center mt-1 text-[1rem] ">Gold Trading</h3>
                        </div>
                    </div>

                    <div class="w-[300px] h-[120px] bg-white p-3 rounded-md flex space-x-5 items-center shadow-md">
                        <img src="https://images.unsplash.com/photo-1581093577421-f561a654a353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Product" class="object-cover rounded-md   h-[100px] w-[120px] aspect-square" width="200"/>
                        <div>

                            <h3 class="text-center mt-1 text-[1rem] ">Chemical Dealers (Sodium Cyanide)</h3>
                        </div>
                    </div>

                

               
            </div>
        </section>

        <!-- Footer -->

        <section class="bg-white py-3 mt-[3rem] w-full flex  items-center gap-3 pl-5">        
        <div class="bg-[#E4E2D9] rounded-full">

            <img class="w-[90px] h-[90px] rounded-full object-cover" src="/images/elimino.png" alt="Rounded avatar"/>
        </div>


                <div class="w-[250px]">
                    <h3>Tupo RockCity Mall, 1st Floor</h3>
                    <p class="text-center">Mwanza Tanzania</p>
                    <!-- <p class="italic tracking-wide mt-3">Karibu Tukuhudumie</p> -->
                </div>
           

        </section>

        <footer class="flex justify-between">
            <div class="w-[300px]"></div>
            
            <img src="/logo.png" alt="logo" class="w-[150px] " width="150" />
        </footer>
    </main>
</Layout>