---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Robert">
  <!-- <nav class="flex items-center justify-between py-4">
    <img
      src="/images/courtOfArms.png"
      alt="court of arms"
      class="w-[70px] aspect-square"
    />
    <h3 class="uppercase text-[#edcd1c] text-sm font-bold">
      Msilikare Microfinance
    </h3>
    <img
      src="/images/courtOfArms.png"
      alt="court of arms"
      class="w-[70px] aspect-square"
    />
  </nav> -->
  <main
    class="flex flex-col items-center justify-center bg-[#F5FAFF] container"
  >
    <section class="">
      <div class="flex items-center justify-center">
        <div class="relative">
          <img
            src="/images/robert.png"
            alt="profile"
            class="object-cover w-screen h-full"
          />
        </div>
      </div>

      <div
        class="bg-[#092958] py-3 shadow-lg w-screen uppercase text-white text-center"
      >
        <h3 class="font-medium text-xl tracking-wide">Robert Manyanyiho</h3>
        <p class="text-[12px] font-light tracking-wide">Director</p>
      </div>

      <section class="">
        <div class="flex bg-white rounded-sm py-3 shadow-lg pl-5 w-full px-5">
          <a href="/vcards/Robert.vcf" download>
            <h3 class="font-light text-white bg-[#092958] px-4 py-2 rounded-md">
              Save Contact
            </h3>
          </a>
          <div
            class="flex items-center justify-between w-[150px] ml-[2rem] gap-5"
          >
            <a href="tel:+255765314004">
              <div class="w-[30px] h-[30px]">
                <img src="/phone.png" class="object-cover" />
              </div>
            </a>

            <a
              href="https://instagram.com/robertpmanyanyiho?igshid=YmMyMTA2M2Y="
            >
              <div class="w-[30px] h-[30px]">
                <img src="/ig.png" class="object-cover" />
              </div>
            </a>
            <a href="https://api.whatsapp.com/send?phone=+255765314004">
              <div class="w-[35px] h-[35px]">
                <img src="/whatsapp.png" class="object-cover" />
              </div>
            </a>
            <a href="mailto:Robertmanyanyiho@yahoo.com">
              <div class="w-[30px] h-[30px]">
                <img src="/gmail.png" class="object-cover" />
              </div>
            </a>
          </div>
        </div>
      </section>
      <h3
        class="py-4 cursor-pointer bg-[#092958] shadow-xl text-white text-center uppercase tracking-wide"
      >
        about robert
      </h3>
      <section
        class="mt-[2rem] text-[#092958] px-5 space-y-5 text-justify flex flex-col items-center justify-center"
      >
        <article>
          Robert Prosper Manyanyiho is a seasoned professional with over a
          decade of experience in the financial industry. He is the current
          director of MSILIKARE MICROFINANCE, a top microfinance institution in
          Tanzania that provides microloans to individuals and organizations.
          His expertise and leadership have been instrumental in the growth and
          success of MSILIKARE MICROFINANCE. Robert is a visionary leader with a
          client-centric approach, and his commitment to ethical business
          practices and transparency has earned him the trust and respect of his
          colleagues, partners, and clients. He is a strategic thinker with a
          keen eye for identifying growth opportunities and implementing
          effective solutions. Robert is passionate about driving economic
          growth and financial inclusion in Tanzania. He is dedicated to
          empowering entrepreneurs and small business owners with the financial
          resources they need to succeed.
        </article>
      </section>

      <h3
        class="py-4 cursor-pointer bg-[#092958] shadow-xl w-full text-white text-center uppercase tracking-wide mt-5"
      >
        about msilikare microfinance
      </h3>
      <section class="mt-[2rem] text-[#092958] space-y-5 px-5 text-justify">
        <article>
          MSILIKARE MICROFINANCE is a reputable financial institution that
          provides microloans to individuals and organizations across Tanzania.
          The company operates in multiple regions including Kahama, Shinyanga,
          Simiyu, and Mwanza, and has established itself as a reliable source of
          financing for its clients.
        </article>
        <article>
          MSILIKARE MICROFINANCE has a proven track record of empowering
          entrepreneurs, small business owners, and individuals with the
          financial resources they need to achieve their goals. The company's
          loan products are tailored to the specific needs of each client, and
          are designed to be accessible, affordable, and flexible. The company
          is dedicated to building long-term relationships with its clients, and
          strives to provide them with the support and resources they need to
          succeed. The company is well-positioned to continue driving economic
          growth and financial inclusion in Tanzania.
        </article>
      </section>

      <h3
        class="py-4 cursor-pointer bg-[#092958] shadow-xl text-white text-center uppercase tracking-wide mt-5"
      >
        eligibility
      </h3>

      <section class="mt-[2rem] text-[#092958] space-y-5 px-5 text-justify">
        <p>
          <span class="font-bold capitalize">msilikare microfinance</span> provides
          microloans to a wide range of individuals and organizations, including:
        </p>
        <ul class="list-disc pl-5">
          <li>Government Employees</li>
          <li>Private Employees</li>
          <li>Entrepreneurs</li>
          <li>Small Business owners</li>
          <li>Traders and Vendors</li>
          <li>Farmers</li>
          <li>Women and youth groups</li>
          <li>Self-help groups</li>
          <li>Institutions such as schools</li>
        </ul>
        <article class="">
          The eligibility criteria for MSILIKARE MICROFINANCE loans may vary
          depending on the type of loan product, the borrower's
          creditworthiness, and other factors. However, in general, borrowers
          are required to have a stable source of income and a good credit
          history. The loan application process involves a thorough assessment
          of the borrower's financial situation, business, and repayment
          capacity.
        </article>
      </section>
    </section>

    <section
      class="bg-[#092958] py-3 mt-[3rem] w-full flex items-center gap-3 pl-5"
    >
      <div class="bg-[#E4E2D9] rounded-full">
        <img
          class="w-[90px] h-[90px] rounded-full object-cover"
          src="/images/robert.png"
          alt="Rounded avatar"
        />
      </div>

      <div class="w-[250px] text-white">
        <p class="text-lg text-center">Mwanza, Tanzania</p>
        <!-- <p class="italic tracking-wide mt-3">Karibu Tukuhudumie</p> -->
      </div>
    </section>

    <!-- Footer -->

    <footer class="flex justify-between">
      <div class="w-[300px]"></div>

      <img src="/logo.png" alt="logo" class="w-[150px]" width="150" />
    </footer>
  </main>
</Layout>
