---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Stanley Joseph">
  <main
    class="flex flex-col items-center justify-center bg-[#E4E2D9] container"
  >
    <section class="mt-5">
      <div>
        <img src="/images/stanley-logo.png" alt="logo" class="w-[250px]" />
      </div>
      <div class="flex items-center justify-center mt-5">
        <div class="flex items-center gap-5 translate-x-[3rem]">
          <div class="">
            <h3 class="text-xl tracking-wide font-medium uppercase">
              Stanley Joseph
            </h3>
            <p class="uppercase text-lg">c.e.o</p>
          </div>
        </div>

        <div class="relative">
          <img
            src="/images/stanley.png"
            alt="profile"
            class="object-cover w-[317px] h-full"
          />
        </div>
      </div>

      <div class="flex bg-[#4e6ba3] px-5 rounded-sm py-3 shadow-lg">
        <h3 class="text-xl font-light translate-x-[28px] text-white">
          Contacts
        </h3>
        <div
          class="flex items-center justify-between translate-x-[4.5rem] gap-5"
        >
          <a href="tel:+255755369607">
            <div class="w-[30px] h-[30px]">
              <img src="/phone.png" class="object-cover" />
            </div>
          </a>

          <a
            href="https://twitter.com/impactenconsult?s=21&t=ZJG_TwXCgmncgtf7DYsQWA"
          >
            <div class="w-[30px] h-[30px]">
              <img src="/twitter.png" class="object-cover" />
            </div>
          </a>
          <a href="https://wa.me/+255755369607">
            <div class="w-[35px] h-[35px]">
              <img src="/whatsapp.png" class="object-cover" />
            </div>
          </a>
          <a href="mailto:mailto:sjoseph23@gmail.com">
            <div class="w-[30px] h-[30px]">
              <img src="/gmail.png" class="object-cover" />
            </div>
          </a>
        </div>
      </div>

      <a class="flex justify-center" href="/vcards/stanley.vcf" download>
        <button
          class="px-3 py-2 rounded-md cursor-pointer bg-[#4e6ba3] shadow-xl mt-5 text-white"
          >Save Contacts</button
        >
      </a>
    </section>

    <!-- Products section -->
    <section>
      <h3 class="uppercase text-center mt-5 font-light tracking-wide text-xl">
        our Services
      </h3>
      <div class="flex items-center flex-col mt-5 space-y-5">
        <a
          href="https://api.whatsapp.com/send?phone=+255755369607&text=Hello%20Mr%20Stanley%2C%20lets%20talk%20more%20about%20Corporate%20Sustainability-ESG"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px] aspect-square"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Cooperate Sustainability
              </h3>
            </div>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255755369607&text=Hello%20Mr%20Stanley%2C%20lets%20talk%20more%20about%20Social%20Transition%20and%20Closure"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg50qyv642M6cMxIzEA4NHiHS5v82trqtJpg&usqp=CAU"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px] aspect-square"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Social Transition and Closure
              </h3>
            </div>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255755369607&text=Hello%20Mr%20Stanley%2C%20lets%20talk%20more%20about%20Operational%20Performance"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZW1wbG95ZWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px]"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Operational Perfomance
              </h3>
            </div>
          </div>
        </a>

        <a
          href="https://api.whatsapp.com/send?phone=+255755369607&text=Hello%20Mr%20Stanley%2C%20lets%20talk%20more%20about%20Renewable%20Energy%20"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://images.unsplash.com/photo-1473341304170-971dccb5ac1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZW5lcmd5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px]"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Renewable Energy
              </h3>
            </div>
          </div>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+255755369607&text=Hello%20Mr%20Stanley%2C%20lets%20talk%20more%20about%20Compliance%20Services%20"
        >
          <div
            class="w-[300px] h-[120px] bg-[#4e6ba3] p-3 rounded-md flex space-x-5 items-center shadow-md"
          >
            <img
              src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2VydmljZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="Product"
              class="object-cover rounded-md h-[100px] w-[120px]"
              width="200"
            />
            <div>
              <h3 class="text-center mt-1 text-[1rem] text-white">
                Compliance Services
              </h3>
            </div>
          </div>
        </a>
      </div>
    </section>

    <!-- Footer -->

    <section
      class="bg-[#4e6ba3] py-3 mt-[3rem] w-full flex items-center gap-3 pl-5"
    >
      <div class="bg-[#E4E2D9] rounded-full overflow-hidden">
        <img
          class="w-[120px] h-[120px] rounded-full object-cover"
          src="/images/stanley.png"
          alt="Rounded avatar"
        />
      </div>

      <div class="w-[250px] text-white">
        <h3>Rockcity Mall, 2nd Floor</h3>
        <p class="">Mwanza, Tanzania</p>
        <!-- <p class="italic tracking-wide mt-3">Karibu Tukuhudumie</p> -->
      </div>
    </section>

    <footer class="flex justify-between">
      <div class="w-[300px]"></div>

      <img src="/logo.png" alt="logo" class="w-[150px]" width="150" />
    </footer>
  </main>
</Layout>
