---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Tony">
    <main class="h-[100vh] w-[100vw] bg-[url('/images/greenBlur.png')] object-cover flex flex-col items-center " >
        <nav>
            <h3>James</h3>
            <div class=""></div>
        </nav>
        <h3>Hi, I am James</h3>
        <p>I’m a Senior Product Designer (UI, UX), and a Design mentor. 
            I am passionate about creating a user-centered design,
             gathering and translating user data into design decisions and products.</p>

             <div>
                <h3>Resume</h3>
                <h3>LinkedIn</h3>
                <h3>whatsapp</h3>
             </div>


             <section class="w-[290px] h-[336px] bg-black rounded-t-[248px]">

             </section>

    </main>

</Layout>